@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: hsl(240 10% 3.9%);
    color: hsl(240 4.8% 95.9%);
}

.desktop header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: hsl(240 10% 3.9%);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.desktop header a img{
    width: 150px;
    height: auto;
    border-radius: 20px;
    transition: 0.5s;
}

.desktop header a img:hover{
    transform: scale(1.1);
}

nav a{
    margin-left: 4rem;
    font-size: 1.8rem;
    color : hsl(240 4.8% 95.9%);
    font-weight: 500;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active{
    color: hsl(349.7 89.2% 60.2%);
    border-bottom: 3px solid hsl(349.7 89.2% 60.2%);
}

nav button{
    margin-left: 4rem;
    font-size: 1.8rem;
    font-weight: 1000;
    width: 100px;
    height: 35px;
    color: hsl(240 10% 3.9%);
    transition: 0.3s;
    background-color: hsl(240 4.8% 95.9%);
    border-radius: 15px;
}

nav button:hover{
    transform: scale(1.1);
    background-color: hsl(349.7 89.2% 60.2%);
    color: hsl(240 4.8% 95.9%);
}

.desktop section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.character-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.character-container img{
    position: relative;
    width: 100vw;
    left: -45%;
}

.character-content{
    position: absolute;
    top: 25%;
    left: 65.5%;
    width: 470px;
    height: 250px;
    background-color: transparent;
    color: hsl(240 4.8% 95.9%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character-content h1{
    display: flex;
    font-size: 6rem;
    font-weight: 700;
    margin-left: 3%;
    margin-bottom: -4%;
}

.character-content h1 img{
    position: relative;
    left: 3%;
    top: -15%;
    width: 20%;
}

.character-content h4{
    margin-bottom: 1rem;
    margin-left: 3%;
    width: 470px;
    font-size: 4rem;
    font-weight: 500;
}

.character-content h4 span::after{
    content: "Work Smart and Rest More";
    animation: texts-h4 35s infinite;
}

@keyframes texts-h4 {
    0%{content: "Less Is More, Simple Is Key";}
    25%{content: "Work Smart and Rest More";}
    50%{content: "Work With Focus, Prevail with Caution";}
    75%{content: "Unleash Sweet Delight, Unwrap and Indulge";}
}

.character-content h5{
    margin-bottom: 1rem;
    margin-left: 3%;
    width: 450px;
    font-size: 2rem;
    font-weight: 400;
}

.character-content h5 span::after{
    content: "Take breaks at the right time... to minimize the annoyance of working.";
    animation: texts-h5 35s infinite;
}

@keyframes texts-h5 {
    0%{content: "Complexity has no place here. Just keep everything simple";}
    25%{content: "Take breaks at the right time... to minimize the annoyance of working.";}
    50%{content: "Whether she takes it too seriously or not seriously enough, it's her enemy who ends up suffering from it.";}
    75%{content: "Savoring the lollipop and concealing her true thoughts.";}
}

.character-content p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-left: 3%;
}

.social-icon{
    margin-left: 3%;
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 50%;
    color: hsl(349.7 89.2% 60.2%);
    font-size: 4rem;
    margin: 1rem 1.5rem 1rem;
    transition: 0.3s ease;
}

.social-icon a:hover{
    transform: scale(1.2);
    color: hsl(355.6 100% 94.7%);
    background-color: hsl(349.7 89.2% 60.2%);
    box-shadow: 0 0 20px hsl(349.7 89.2% 60.2%);
}

.character-container .youtube{
    position: absolute;
    top: 64%;
    left: 66%;
    width: 450px;
    height: 253px;
}

footer{
    background-color: hsl(240 3.7% 15.9%);
    color : hsl(240 4.8% 95.9%);
    padding: 70px 0;
}

ul{
    list-style: none;
}

footer .footer-container{
    margin: auto;
    max-width: 1170px;
}

.footer-container .row{
    display: flex;
    flex-wrap: wrap;
}

.footer-container .row .col{
    width: 25%;
    padding: 0 15px;
}

.col h4{
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.col h4::before{
    content: "";
    position: absolute;
    background-color: hsl(349.7 89.2% 60.2%);
    left: 0;
    bottom: -10px;
    height: 3px;
    box-sizing: border-box;
    width: 150px;
}

.col ul li{
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.col ul li h6{
    font-size: 1.5rem;
    font-weight: 500;
    color: hsl(349.7 89.2% 60.2%);
}

.col ul li p{
    font-size: 1.5rem;
    font-weight: 450;
    margin-left: 3px;
}

.row .col .social-icon a{
    scale: 85%;
}

.mobile{
    display: none;
}

@media (min-width: 1000px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

@media (max-width: 999px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile{
        background-image: url("/Image/9e961f476a4b50ce2177a38d71845bfa.png");
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
        background-position-x: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }
    
    .mobile h1{
        font-size: 3rem;
        color: hsl(240 4.8% 95.9%);
        background-color: hsl(240 10% 3.9%);
        padding: 3%;
        border-radius: 50px;
        margin:10%;
    }
    
    .mobile a{
        font-size: 2rem;
        background-color: hsl(349.7 89.2% 60.2%);
        padding: 3%;
        border-radius: 50px;
        color: hsl(240 4.8% 95.9%);
    }

    .mobile a:hover{
        transform: scale(1.1);
        color: hsl(349.7 89.2% 60.2%);
        background-color: hsl(355.6 100% 94.7%);
        box-shadow: 0 0 20px hsl(349.7 89.2% 60.2%);
    }
}
